# Symfony directories
*/logs/*
*/cache/*
app/sessions
web/uploads/*
web/bundles/*
web/js
web/css
web/assetic
web/fonts
web/files
web/media

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

vendor
node_modules
*~
*.swp
